<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
        <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>

        <link rel="stylesheet" href="..\public\css\theme.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Simran</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



                 
                
                    <h1>Welcome to the HTML Demo page</h1>
                    <p>Here you can practice creating HTML elements.</p>
                
                    <h2>Tables</h2>
                    <table border="2">
                        <caption>Table 1</caption>
                        <thead>
                            <tr>
                                <th colspan="3">Header</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2">Cell 1</td>
                                <td>Cell 2</td>
                                <td rowspan="2">Cell 3</td>
                            </tr>
                            <tr>
                                <td colspan="2">Cell 4</td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="2">
                        <caption>Table 2</caption>
                        <thead>
                            <tr>
                                <th>IDs</th>
                                <th>Names</th>
                                <th>Scores(%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Bhoomi</td>
                                <td>60</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Sanya</td>
                                <td>90</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Ishita</td>
                                <td>90</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Footer</td>
                            </tr>
                        </tfoot>
                    </table>
                    <p>This section demonstrates the use of HTML tables.</p>
                
                    <h2>Lists</h2>
                    <ul>
                        <li>List item 1</li>
                        <li>List item 2</li>
                        <li>List item 3
                            <ul>
                                <li>Nested item 1</li>
                                <li>Nested item 2</li>
                                <li>Nested item 3</li>
                            </ul>
                        </li>
                        <li>List item 4</li>
                        <li>List item 5</li>
                    </ul>
                    <p>This section demonstrates the use of HTML lists.</p>
                
                    <h2>Images</h2>
                    <img src="
                    https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Image 1">
                    <img src="
                    https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Image 2">
                    <img src="
                    https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Image 3">
                    <p>This section demonstrates the use of HTML images.</p>
                
                    <h2>Audio</h2>
                    <audio controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
                        Your browser does not support the audio element.
                    </audio>
                    <p>This section demonstrates the use of HTML5 audio.</p>
                
                    <h2>Video</h2>
                    <video controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
                        Your browser does not support the video element.
                    </video>
                    <p>This section demonstrates the use of HTML5 video.</p>


				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>